.timeline{
    border-bottom:solid 1px #F7F7F7;
    padding-bottom: 0px;
    padding-top: 0px;
    border-top:solid 1px #F7F7F7;
}
.record-list{
    border-bottom:solid 1px #BDCDCE;

}
.portlet-body{
    padding-top: 2px;
    border-top:solid 1px #2e6da4;
}