.note-c{
    margin:0;
    padding:0;
    font-family:arial,sans-serif;
    font-size:100%;
    background:#fff;
    color:#fff;
    padding-top: 15px;
    margin-top: 1px;
    margin-bottom: 1px;
    border-bottom:solid 2px #BDCDCE;
    border-top:solid 2px #BDCDCE;
}

