<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashboard.html">主页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">系统设置</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#sys_role.php">角色管理</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                选 项  <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">
                        <i class="icon-envelope-open"></i> 新消息 </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-calendar"></i> 新便签 <span class="badge badge-success">4</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<!-- BEGIN start search CONTENT -->
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-search-plus"></i>查询
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <table>
            <tr>
                <td>角色名 : &nbsp;</td>
                <td><input type="text" class="form-control" placeholder="请输入角色名"></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-default red-pink">
                    <i class="fa fa-search"></i> &nbsp;查询 </button>
                </td>
            </tr>
        </table>
    </div>
</div>
<!-- END start search CONTENT -->

<div class="col-md-6">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs font-green-sharp"></i>
                <span class="caption-subject font-green-sharp bold uppercase">Checkable Tree</span>
            </div>
            <div class="tools">
                <a href="javascript:;" class="reload">
                </a>
                <a href="javascript:;" class="collapse">
                </a>
            </div>
        </div>
        <div class="portlet-body">
            <div id="slide_tree" class="tree-demo">
            </div>
        </div>
    </div>
</div>


<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
    UITree.init(); // init todo page
</script>
<!-- BEGIN MAIN JS & CSS -->