.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}
.st-selected{
    border-left: 4px solid black;
}
.dataTables-filter{
    float: right;
}
th{
    text-align:center;
}

.jquery-notific8-container.top { top: 60px; }

.dcaedit:hover {
    BORDER-RIGHT: #26A69A 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #26A69A 0px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #26A69A 0px solid; COLOR: #3379B5; PADDING-TOP: 0px; BORDER-BOTTOM: #E4FFFC 0px solid
}

.dcadel:hover {
    BORDER-RIGHT: #26A69A 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #26A69A 0px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #26A69A 0px solid; COLOR: #C23F44; PADDING-TOP: 0px; BORDER-BOTTOM: #E4FFFC 0px solid
}

/***
Jstree
***/
.jstree-default .jstree-clicked {
    border: 0;
    background-color: #e1e1e1;
    box-shadow: none;
}

.jstree-default .jstree-hovered {
    border: 0;
    background-color: #eee;
    box-shadow: none;
}

.jstree-default .jstree-wholerow-clicked,
.jstree-wholerow .jstree-wholerow-clicked {
    background: none;
    border: 0;
    background-color: #e1e1e1;
    box-shadow: none;
}

.jstree-default .jstree-wholerow-hovered,
.jstree-wholerow .jstree-wholerow-hovered {
    border: 0;
    background-color: #eee;
    box-shadow: none;
}

.jstree-icon.icon-lg {
    margin-top: 1px;
}

.jstree-open > .jstree-anchor > .fa-folder:before {
    margin-left: 2px;
    content: "\f07c";
}

.jstree-default.jstree-rtl .jstree-last {
    background: transparent;
    background-repeat: no-repeat;
}

.vakata-context,
.vakata-context ul {
    padding: 0;
    min-width: 125px;
    background-color: #ffffff;
    font-size: 14px;
    font-family: "Segoe UI",Helvetica, Arial, sans-serif;
    box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
    border: 1px solid #efefef;
}

.vakata-context li {
    border: 0;
}
.vakata-context li a {
    padding: 0 10px;
    border: 0;
}
.vakata-context li a i {
    display: none;
}
.vakata-context li a .vakata-contextmenu-sep {
    display: none;
}

.vakata-context .vakata-context-hover > a,
.vakata-context li a:hover {
    background-color: #eee;
    color: #333;
    box-shadow: none;
    margin: 0;
}
.vakata-context .vakata-context-hover > a .span,
.vakata-context .vakata-context-hover > a .ins,
.vakata-context li a:hover .span,
.vakata-context li a:hover .ins {
    border: 0 !important;
}

.vakata-context li a span,
.vakata-context li a ins {
    display: none;
    border: 0 !important;
}

.vakata-context .vakata-context-separator a,
.vakata-context-rtl .vakata-context-separator a {
    margin: 0;
    border: 0;
}

.jstree-rename-input {
    background-color: #ffffff !important;
    border: 1px solid #e5e5e5 !important;
    outline: none !important;
    padding: 2px 6px !important;
    margin-right: -4px !important;
}

.ngdialog.ngdialog-theme-default {
    padding-bottom: 100px;
    padding-top: 60px;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
    -webkit-animation: ngdialog-flyin .5s;
    animation: ngdialog-flyin .5s;
    background: #f0f0f0;
    border-radius: 5px;
    color: #444;
    font-family: 'Helvetica',sans-serif;
    font-size: 1.1em;
    line-height: 0.5em;
    margin: 0 auto;
    max-width: 100%;
    padding: 0em;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0;
    position: relative;
    width: 800px;
}
