.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}
.st-selected{
    border-left: 4px solid black;
}
.dataTables-filter{
    float: right;
}
th{
    text-align:center;
}

.ngdialog.ngdialog-theme-default {
    padding-bottom: 100px;
    padding-top: 60px;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
     -webkit-animation: ngdialog-flyin .5s;
     animation: ngdialog-flyin .5s;
     background: #f0f0f0;
     border-radius: 5px;
     color: #444;
     font-family: 'Helvetica',sans-serif;
     font-size: 1.1em;
     line-height: 0.5em;
     margin: 0 auto;
     max-width: 100%;
     padding: 0em;
     padding-top: 0.5em;
     padding-left: 0.5em;
     padding-right: 0.5em;
     padding-bottom: 0;
     position: relative;
     width: 800px;
 }
.jquery-notific8-container.top { top: 60px; }

.validation{
    text-align: justify;
    display:block;
    float: inherit;

}