<!-- BEGIN PAGE -->
<div class="col-md-6">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i> 用户编辑
            </div>
            <div class="tools">
                <a href="" class="collapse">
                </a>
                <a href="#portlet-config" data-toggle="modal" class="config">
                </a>
                <a href="" class="reload">
                </a>
                <a href="" class="remove">
                </a>
            </div>
        </div>
        <div class="portlet-body form">
            <form role="form">
                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-2">用户ID</label>
                        <div class="input-group col-md-4">
											<span class="input-group-addon">
											<i class="fa fa-envelope"></i>
											</span>
                            <input type="text" class="form-control" placeholder="用户Email" value="{{address.email}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">姓名</label>
                        <div class="input-group col-md-4">
											<span class="input-group-addon">
											<i class="fa fa-envelope"></i>
											</span>
                            <input type="text" class="form-control" placeholder="姓名" value="{{address.name}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">密码</label>
                        <div class="input-group col-md-4">
											<span class="input-group-addon">
											<i class="fa fa-envelope"></i>
											</span>
                            <input type="text" class="form-control" placeholder="密码" value="{{address.password}}">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END PAGE -->