.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}
.st-selected{
    border-left: 4px solid black;
}
.portlet-body{
    overflow: auto;
}
.dataTables-filter{
    float: right;
}
th{
    text-align:center;
}

.ngdialog.ngdialog-theme-default {
    padding-bottom: 100px;
    padding-top: 60px;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
    -webkit-animation: ngdialog-flyin .5s;
    animation: ngdialog-flyin .5s;
    background: #f0f0f0;
    border-radius: 5px;
    color: #444;
    font-family: 'Helvetica',sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 100%;
    padding: 1em;
    position: relative;
    width: 800px;
}