<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashboard.html">主页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">系统设置</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#sys-users.html">用户管理</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                选 项  <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">
                        <i class="icon-envelope-open"></i> 新消息 </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-calendar"></i> 新日历项 <span class="badge badge-success">4</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row" ng-controller="pipeCtrl as mc">
    <div class="col-md-12" st-pipe="mc.callServer"  st-table="mc.displayed">
        <!-- BEGIN start search CONTENT -->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-search-plus"></i>查询
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                </div>
            </div>
            <div class="portlet-body" >
                    <div class="col-md-9">
                        <label>
                            用户名: &nbsp; <input st-search="email" st-input-event="blur" placeholder="请输入用户名" class="input-sm input-inline form-control" type="search"/>
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label>
                            查询全部 : &nbsp;<input st-search st-input-event="blur" placeholder="请输入查找的信息" class="input-sm input-inline form-control" type="search"/>
                        </label>
                    </div>
            </div>
        </div>
        <!-- END start search CONTENT -->
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box yellow">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-user"></i>用户管理
                </div>
                <div class="tools">
                    <button class="btn btn-default yellow" onclick="window.location.href='#/sys-usersedit.html'">
                        <i class="fa fa-plus"></i> &nbsp;添加 </button>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="collapse">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="col-md-12">
                    <label>
                        显示 <input onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')" class="input-xsmall input-inline form-control ng-valid ng-dirty ng-valid-number ng-touched" name="items" id="items" type="number" ng-model="itemsByPage" ng-model-options="{ updateOn: 'blur' }" /> 条
                    </label>
                    <label class="dataTables-filter">
                        <button class="btn btn-default grey">
                            <i class="fa fa-trash-o"></i> &nbsp;批量删除 </button>
                    </label>                </div>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th><input type="checkbox" id="checkPathAll" onclick="JavaScript:checkout();"/></th>
                        <th st-sort="email">
                            用户名1
                        </th>
                        <th st-sort='name'>
                            姓名
                        </th>
                        <th st-sort='password'>
                            密码
                        </th>
                        <th>
                            角色
                        </th>
                        <th>
                            Edit
                        </th>
                        <th>
                            Delete
                        </th>
                    </tr>
                    </thead>
                    <tbody ng-hide="mc.isLoading">
                    <tr ng-repeat="user in mc.displayed">
                        <td cs-select="row" align="center"></td>
                        <td>
                            {{ user.email }}
                        </td>
                        <td>
                            {{user.name}}
                        </td>
                        <td>
                            {{user.password}}
                        </td>
                        <td>
                            <select class="form-control">
                                <option value="系统管理员">系统管理员</option>
                                <option value="营销主管">营销主管</option>
                                <option value="行政主管">行政主管</option>
                            </select>
                        </td>
                        <td>
                            <a class="edit" ng-click="edituser(user.id)"  href="javascript:;">
                                Edit </a>
                        </td>
                        <td>
                            <a class="delete" ng-click="deluser(user)" confirmation-needed="确定要删除该条数据吗？"  href="javascript:;">
                                Delete </a>
                        </td>
                    </tr>
                    </tbody>
                    <tbody ng-show="mc.isLoading">
                    <tr>
                        <td colspan="7" class="text-center">Loading ... </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="7"  st-pagination st-items-by-page="itemsByPage" class="text-center">
                        </td>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>


<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script language="JavaScript" type="text/javascript">
//    TableEditable.init();
</script>
<!-- BEGIN MAIN JS & CSS -->